In [72]:
import pandas as pd
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
import lxml

## 04.18.2021

In [73]:
movie_df = pd.DataFrame()
movie_df["title"] = ["The Shawshank Redemption", "The Dark Knight", "Schindler's List", "Forrest Gump", "Inception"]
movie_df["imdb_rating"] = [9.3, 9.0, 8.9, 8.8, 8.7]
#print(type(movie_df))
movie_df
#movie_df.loc[1,"title"]

                      title  imdb_rating
0  The Shawshank Redemption          9.3
1           The Dark Knight          9.0
2          Schindler's List          8.9
3              Forrest Gump          8.8
4                 Inception          8.7

In [74]:
print(type(movie_df.index))
print(type(movie_df["title"]))
print(type(movie_df["imdb_rating"])) 
print(movie_df["title"].index)
print(movie_df["title"].values)

<class 'pandas.core.indexes.range.RangeIndex'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=5, step=1)
['The Shawshank Redemption' 'The Dark Knight' "Schindler's List"
 'Forrest Gump' 'Inception']

## 04.19.2021

In [75]:
from datetime import date 
from datetime import timedelta
today = date.today()
day_delta = timedelta(days=-2)
data_date = today + day_delta
print(data_date)
print(type(data_date))
data_date_str = date.strftime(data_date, '%m-%d-%Y') 
print(data_date_str)

2021-04-29
<class 'datetime.date'>
04-29-2021

In [76]:
csv_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-22-2021.csv"

In [77]:
from datetime import date 
from datetime import timedelta
from urllib.error import HTTPError

def get_latest_daily_report():
    
    today = date.today()
    day_delta = timedelta(days=1)
    data_date = today

    while True: 
        try:
            data_date_str = date.strftime(data_date, '%m-%d-%Y')
            csv_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv".format(data_date_str)
            daily_report = pd.read_csv(csv_url)
            break
        except HTTPError:
            data_date -= day_delta
    print(today)
    print(data_date_str)
    return daily_report
    

daily_report = get_latest_daily_report()
type(daily_report)

2021-05-01
04-29-2021

pandas.core.frame.DataFrame

In [78]:
daily_report

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-04-30 04:21:03,33.939110,67.709953,59576,2618,53103.0,3855.0,Afghanistan,153.040172,4.394387
1,NaN,NaN,NaN,Albania,2021-04-30 04:21:03,41.153300,20.168300,130977,2389,108606.0,19982.0,Albania,4551.289179,1.823984
2,NaN,NaN,NaN,Algeria,2021-04-30 04:21:03,28.033900,1.659600,121866,3244,84940.0,33682.0,Algeria,277.909011,2.661940
3,NaN,NaN,NaN,Andorra,2021-04-30 04:21:03,42.506300,1.521800,13198,125,12650.0,423.0,Andorra,17081.472853,0.947113
4,NaN,NaN,NaN,Angola,2021-04-30 04:21:03,-11.202700,17.873900,26431,594,23606.0,2231.0,Angola,80.419840,2.247361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3978,NaN,NaN,NaN,Vietnam,2021-04-30 04:21:03,14.058324,108.277199,2910,35,2516.0,359.0,Vietnam,2.989565,1.202749
3979,NaN,NaN,NaN,West Bank and Gaza,2021-04-30 04:21:03,31.952200,35.233200,295601,3231,271233.0,21137.0,West Bank and Gaza,5794.489216,1.093027
3980,NaN,NaN,NaN,Yemen,2021-04-30 04:21:03,15.552727,48.516388,6294,1222,2731.0,2341.0,Yemen,21.102417,19.415316
3981,NaN,NaN,NaN,Zambia,2021-04-30 04:21:03,-13.133897,27.849332,91533,1250,89852.0,431.0,Zambia,497.896100,1.365628
3982,NaN,NaN,NaN,Zimbabwe,2021-04-30 04:21:03,-19.015438,29.154857,38235,1567,35594.0,1074.0,Zimbabwe,257.250809,4.098339

In [79]:
import sqlite3

conn = sqlite3.connect('covid19.db')   #create a new database
daily_report.to_sql('daily_report', conn, if_exists = 'replace') #replace

In [80]:
sql_query = """
SELECT *
    FROM daily_report
WHERE Country_Region LIKE "%Taiwan%";
"""
pd.read_sql(sql_query, conn)

,index,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,643,None,None,None,Taiwan*,2021-04-30 04:21:03,23.7,121.0,1121,12,1051.0,58.0,Taiwan*,4.706767,1.070473

In [81]:
excel_file_path = "Movies-2.xls" 
movie_excel = pd.read_excel(excel_file_path) #import excel file but not working

In [82]:
movie_excel

          Title  Release Year  IMDB Rating
0    Spider Man          2016          8.3
1       Bat Man          2018          9.3
2  Wonder Woman          2018          9.3

In [83]:
def read_movies(csv_file_path):
    movies_from_csv = pd.read_csv(csv_file_path,error_bad_lines=False)
    return movies_from_csv

In [84]:
read_movies('movies.csv')

b'Skipping line 3: expected 3 fields, saw 4\n'

                      title   release_year   imdb_rating
0  The Shawshank Redemption           1994           9.2
1                 Inception           2010           8.7
2              Forrest Gump           1994           8.8

## The Bottom HTML Can't Run Through

import json

with open('movie1.json') as json_file:
    movies_from_json = json.load(json_file)         
type(movies_from_json)

In [85]:
request_url = "https://www.imdb.com/chart/top"
html_tables = pd.read_html(request_url)
print(type(html_tables)) 
print(len(html_tables))

ImportError: lxml not found, please install it

In [86]:
len(html_tables)

NameError: name 'html_tables' is not defined

In [46]:
html_tables[0]

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. 刺激1995 (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. 教父 (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. 教父第二集 (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. 黑暗騎士 (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. 十二怒漢 (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN
...,...,...,...,...,...
245,NaN,246. 橘子收成時 (2013),8.0,12345678910 NOT YET RELEASED Seen,NaN
246,NaN,247. 誤殺瞞天記 (2015),8.0,12345678910 NOT YET RELEASED Seen,NaN
247,NaN,248. 阿爾及爾之戰 (1966),8.0,12345678910 NOT YET RELEASED Seen,NaN
248,NaN,249. 誘惑的陷阱 (2000),8.0,12345678910 NOT YET RELEASED Seen,NaN
249,NaN,250. 故土 (2004),8.0,12345678910 NOT YET RELEASED Seen,NaN

In [47]:
daily_report[daily_report['Country_Region'] == 'US']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-04-28 04:20:32,32.539527,-86.644082,6889,107,NaN,NaN,"Autauga, Alabama, US",12330.630582,1.553201
653,1003.0,Baldwin,Alabama,US,2021-04-28 04:20:32,30.727750,-87.722071,20875,305,NaN,NaN,"Baldwin, Alabama, US",9351.174104,1.461078
654,1005.0,Barbour,Alabama,US,2021-04-28 04:20:32,31.868263,-85.387129,2297,56,NaN,NaN,"Barbour, Alabama, US",9304.869157,2.437963
655,1007.0,Bibb,Alabama,US,2021-04-28 04:20:32,32.996421,-87.125115,2588,62,NaN,NaN,"Bibb, Alabama, US",11556.666964,2.395672
656,1009.0,Blount,Alabama,US,2021-04-28 04:20:32,33.982109,-86.567906,6581,134,NaN,NaN,"Blount, Alabama, US",11380.693806,2.036165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3924,56039.0,Teton,Wyoming,US,2021-04-28 04:20:32,43.935225,-110.589080,3725,9,NaN,NaN,"Teton, Wyoming, US",15875.383566,0.241611
3925,56041.0,Uinta,Wyoming,US,2021-04-28 04:20:32,41.287818,-110.547578,2173,12,NaN,NaN,"Uinta, Wyoming, US",10743.597350,0.552232
3926,90056.0,Unassigned,Wyoming,US,2021-04-28 04:20:32,NaN,NaN,0,0,NaN,NaN,"Unassigned, Wyoming, US",NaN,NaN
3927,56043.0,Washakie,Wyoming,US,2021-04-28 04:20:32,43.904516,-107.680187,901,26,NaN,NaN,"Washakie, Wyoming, US",11543.882127,2.885683
3928,56045.0,Weston,Wyoming,US,2021-04-28 04:20:32,43.839612,-104.567488,648,5,NaN,NaN,"Weston, Wyoming, US",9354.699004,0.771605

In [48]:
print(daily_report.loc[643, ['Country_Region', 'Confirmed']]) # as Series 
daily_report.loc[[643], ['Country_Region', 'Confirmed']]# as DataFrame

Country_Region    Taiwan*
Confirmed            1110
Name: 643, dtype: object

    Country_Region  Confirmed
643        Taiwan*       1110

In [49]:
print(daily_report.iloc[3388, [3, 7]]) # as Series 
daily_report.iloc[[3388], [3, 7]] # as DataFrame

Country_Region      US
Confirmed         4146
Name: 3388, dtype: object

     Country_Region  Confirmed
3388             US       4146

## 05.01.2021

## Dealing with missing values

- Using isnull or notnull to check if np.NaN exists
- Using dropna to drop rows with np.NaN
- Using fillna to fill np.NaN with specific values

In [87]:
daily_report.head(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-04-30 04:21:03,33.93911,67.709953,59576,2618,53103.0,3855.0,Afghanistan,153.040172,4.394387
1,NaN,NaN,NaN,Albania,2021-04-30 04:21:03,41.15330,20.168300,130977,2389,108606.0,19982.0,Albania,4551.289179,1.823984
2,NaN,NaN,NaN,Algeria,2021-04-30 04:21:03,28.03390,1.659600,121866,3244,84940.0,33682.0,Algeria,277.909011,2.661940
3,NaN,NaN,NaN,Andorra,2021-04-30 04:21:03,42.50630,1.521800,13198,125,12650.0,423.0,Andorra,17081.472853,0.947113
4,NaN,NaN,NaN,Angola,2021-04-30 04:21:03,-11.20270,17.873900,26431,594,23606.0,2231.0,Angola,80.419840,2.247361
5,NaN,NaN,NaN,Antigua and Barbuda,2021-04-30 04:21:03,17.06080,-61.796400,1232,32,1014.0,186.0,Antigua and Barbuda,1258.067151,2.597403
6,NaN,NaN,NaN,Argentina,2021-04-30 04:21:03,-38.41610,-63.616700,2954943,63508,2608077.0,283358.0,Argentina,6538.095362,2.149212
7,NaN,NaN,NaN,Armenia,2021-04-30 04:21:03,40.06910,45.038200,215528,4087,197171.0,14270.0,Armenia,7273.404665,1.896273
8,NaN,NaN,Australian Capital Territory,Australia,2021-04-30 04:21:03,-35.47350,149.012400,124,3,120.0,1.0,"Australian Capital Territory, Australia",28.965195,2.419355
9,NaN,NaN,New South Wales,Australia,2021-04-30 04:21:03,-33.86880,151.209300,5477,54,0.0,5423.0,"New South Wales, Australia",67.467356,0.985941

In [88]:
print(daily_report['Province_State'].size)
print(daily_report['Province_State'].isnull().sum())
print(daily_report['Province_State'].notnull().sum())

3983
171
3812

In [89]:
daily_report[daily_report['Country_Region'] == 'US']
#daily_report.dropna()       #drop any row that has a nan value
#print(daily_report['FIPS'].fillna(0))
# daily_report.dropna(axis=1) #drop any column that has a nan value

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
652,1001.0,Autauga,Alabama,US,2021-04-30 04:21:03,32.539527,-86.644082,6897,107,NaN,NaN,"Autauga, Alabama, US",12344.949793,1.551399
653,1003.0,Baldwin,Alabama,US,2021-04-30 04:21:03,30.727750,-87.722071,20921,305,NaN,NaN,"Baldwin, Alabama, US",9371.780284,1.457865
654,1005.0,Barbour,Alabama,US,2021-04-30 04:21:03,31.868263,-85.387129,2299,56,NaN,NaN,"Barbour, Alabama, US",9312.970915,2.435842
655,1007.0,Bibb,Alabama,US,2021-04-30 04:21:03,32.996421,-87.125115,2593,63,NaN,NaN,"Bibb, Alabama, US",11578.994373,2.429618
656,1009.0,Blount,Alabama,US,2021-04-30 04:21:03,33.982109,-86.567906,6607,135,NaN,NaN,"Blount, Alabama, US",11425.656279,2.043287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3924,56039.0,Teton,Wyoming,US,2021-04-30 04:21:03,43.935225,-110.589080,3730,9,NaN,NaN,"Teton, Wyoming, US",15896.692806,0.241287
3925,56041.0,Uinta,Wyoming,US,2021-04-30 04:21:03,41.287818,-110.547578,2181,12,NaN,NaN,"Uinta, Wyoming, US",10783.150400,0.550206
3926,90056.0,Unassigned,Wyoming,US,2021-04-30 04:21:03,NaN,NaN,0,0,NaN,NaN,"Unassigned, Wyoming, US",NaN,NaN
3927,56043.0,Washakie,Wyoming,US,2021-04-30 04:21:03,43.904516,-107.680187,903,26,NaN,NaN,"Washakie, Wyoming, US",11569.506726,2.879291
3928,56045.0,Weston,Wyoming,US,2021-04-30 04:21:03,43.839612,-104.567488,650,5,NaN,NaN,"Weston, Wyoming, US",9383.571532,0.769231

In [90]:
daily_report['FIPS'].fillna(1111)

0       1111.0
1       1111.0
2       1111.0
3       1111.0
4       1111.0
         ...
3978    1111.0
3979    1111.0
3980    1111.0
3981    1111.0
3982    1111.0
Name: FIPS, Length: 3983, dtype: float64

### Splitting Strings with str.split as a series

In [92]:
luke_skywalker = "Skywalker, Luke"
luke_skywalker.split(', ')
skywalkers = ['Luke Skywalker', 'Anakin Skywalker']
skywalkers

['Luke Skywalker', 'Anakin Skywalker']

In [93]:
split_pattern = ', '
daily_report[daily_report['Country_Region']=='US']['Combined_Key'].str.split(split_pattern)

652        [Autauga, Alabama, US]
653        [Baldwin, Alabama, US]
654        [Barbour, Alabama, US]
655           [Bibb, Alabama, US]
656         [Blount, Alabama, US]
                  ...
3924         [Teton, Wyoming, US]
3925         [Uinta, Wyoming, US]
3926    [Unassigned, Wyoming, US]
3927      [Washakie, Wyoming, US]
3928        [Weston, Wyoming, US]
Name: Combined_Key, Length: 3277, dtype: object

In [94]:
split_pattern = ', '
us_combined_key = daily_report[daily_report['Country_Region']=='US']['Combined_Key']
us_combined_key .str.split(split_pattern, expand=True)  #give the output as a dataframe

               0        1   2
652      Autauga  Alabama  US
653      Baldwin  Alabama  US
654      Barbour  Alabama  US
655         Bibb  Alabama  US
656       Blount  Alabama  US
...          ...      ...  ..
3924       Teton  Wyoming  US
3925       Uinta  Wyoming  US
3926  Unassigned  Wyoming  US
3927    Washakie  Wyoming  US
3928      Weston  Wyoming  US

[3277 rows x 3 columns]

In [95]:
request_url = "https://www.imdb.com/chart/top"
df_list = pd.read_html(request_url)
movies = df_list[0]
no_nan = movies.dropna(axis=1)
print(no_nan)

ImportError: lxml not found, please install it